.center {
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-image: url("https://img.freepik.com/free-vector/colourful-gradient-rain-squares-background_23-2148383739.jpg");
}

.right {
    margin-top: 200px;
    margin-right: 130px;
    float: right;
    text-align: center;
    border-style: groove;
    border-color: Tomato;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
}

.left {
    margin-top: 200px;
    margin-left: 130px;
    float: left;
    text-align: center;
    border-style: groove;
    border-color: DodgerBlue;
    border-radius: 12px;
    padding: 5px;
    background-color: white;
}

.help {
    position: absolute;
    top: 8;
    right: 10;
}

.buttons {
    border: none;
    padding: 0.8em 2.5em;
    color: white;
    position: relative;
    z-index: 1;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
    margin-right: 30px;
}

.buttons:enabled:before,
.buttons:after {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(60deg,
            #f79533,
            #f37055,
            #ef4e7b,
            #a166ab,
            #5073b8,
            #1098ad,
            #07b39b,
            #6fba82);
}

.buttons:enabled:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
}

.buttons:enabled:hover:before {
    width: 115%;
    height: 115%;
}

.buttons:disabled:after {
    background: linear-gradient(60deg,
    #000000,
    #383839,
    #515252,
    #383939,
    #070707);
    cursor: default;
}